<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
  </head>
  <body>
    <a id="error"></a>
      <form (ngSubmit)="onSubmit(fm)" #fm="ngForm">
      
        <h1>Login</h1>
        
        <fieldset>
          <label for="name">Name:</label>
          <input type="text" id="username" ngModel name="user_name"/>
          
          <label for="password">Password:</label>
          <input type="password" id="password" ngModel name="user_password"/>
        </fieldset>
        <button type="submit" class="btn btn-primary">Login</button>
        
      </form>
    <button routerLink="/SignUp" style="display: block; margin: 0 auto; max-width: 480px;">Sign Up</button>
  </body>
</html>